body {
    overflow: hidden;
}

/* region [blue] */

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 46.4px;
    background-color: #333;
    top: 0;
    width: 100%;
    opacity: 0.95;
}

.nav>li {
    float: left;
}

.nav>li>a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.brand {
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 16px;
}

.nav>li>a:hover {
    background-color: #111;
}

.active {
    background-color: #cc6699;
}

/* endregion */

h1 {
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
    color: #ac3973;
}

.section {
    margin: 30px;
}

.content {
    position: absolute;
    top: 46.4px;
    bottom: 0;
    overflow-y: scroll;
    width: 100%;
}

.gateTable {
    width: 90%;
    margin: auto;
}

.gateTable,
.gateTable th,
.gateTable td {
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

.gateTable tr:nth-child(even) {
    background-color: #ffccff;
}

.gateTable tr:nth-child(odd) {
    background-color: #fff;
}

.gateTable th {
    color: white;
    background-color: #cc6699;
}

.gateSchm img {
    height: 50px;
}

.input {
    color: #666666;
    font-size: 85%;
}

.gateTable .opc {
    font-weight: bold;
}

.gateTable .opr {
    color: #161c58;
}

.gateTable .rle {
    color: #cc0000;
}

.gateTable .desc {
    color: #666666;
    font-style: oblique;
}